.hidden{
    display: none;
}
.fa-plus-square{
    color:green
}
.customAnchor{
    float: right;
    margin-top: 10px;
}
.fa-minus-square{
    color: red;
    padding:3px;
}
.finalTags{
    color:brown;
}