@font-face{font-family:'Ciutadella';src:url("../fonts/315CA1_3_0.eot?#iefix") format("embedded-opentype"),url("../fonts/315CA1_3_0.woff2") format("woff2"),url("../fonts/315CA1_3_0.woff") format("woff"),url("../fonts/315CA1_3_0.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:'Ciutadella';src:url("../fonts/315CA1_1_0.eot?#iefix") format("embedded-opentype"),url("../fonts/315CA1_1_0.woff2") format("woff2"),url("../fonts/315CA1_1_0.woff") format("woff"),url("../fonts/315CA1_1_0.ttf") format("truetype");font-weight:bold;font-style:normal}

body{
    font-family:"Ciutadella",Helvetica,Arial,sans-serif;
}

.qantas-logo{
    position: relative;
    float: left;
    top: 1.25rem;
    left: 0.5rem;
    display: block;
    width: 8.9375rem;
    height: 2rem;
    overflow: hidden;
}

header{
    border-bottom:1px solid #e5e5e5;
    height:4rem;
}

h1{
    font-size: 2.25rem;
}

main{
    padding-top: 1rem;
}

.btn-second{
    margin-top:1rem;
}

.btn-primary{
    background-color: #e0001b;
    border:0;
    box-shadow: 0 0 0.2rem #e0001b;
}

.btn-primary:hover,.btn-primary:visited,.btn-primary:focus{
    background-color: #e00;
    border:0;
    box-shadow: 0 0 0.2rem rgba(255,0,0,.5);
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #e00;
    border:0;
    box-shadow: 0 0 0.2rem rgba(255,0,0,.5);
}

.createTags,.validateTags{
    background: transparent;
    color:#e0001b;
    -webkit-font-smoothing:antialiased;
    border:2px solid #e00;
    box-shadow: 0 0 0.2rem #fff;
    font-weight:bold;
    font-size: 1rem;
    letter-spacing: .125rem;
    border-radius: .1875rem;
    line-height: 1.5rem;
    text-align: center;
    padding:.625rem 1.5rem;
}
.createTags:hover,.validateTags:hover,.createTags:visited,.createTags:focus,
.validateTags:hover,.validateTags:visited,.validateTags:focus{
    color:#cd0000;
    border:2px solid #cd0000;
    background: transparent;
}

.createTags:not([disabled]):not(.disabled).active, .createTags:not([disabled]):not(.disabled):active, .show>.createTags.dropdown-toggle{
    background: transparent;
    border:2px solid #e00;
    box-shadow: 0 0 0.2rem #cd0000;
    color:#cd0000;
}

.validateTags:not([disabled]):not(.disabled).active, .validateTags:not([disabled]):not(.disabled):active, .show>.validateTags.dropdown-toggle{
    background: transparent;
    border:2px solid #e00;
    box-shadow: 0 0 0.2rem #cd0000;
    color:#cd0000;
}

.createTags:not(:disabled):not(.disabled).active:focus, .createTags:not(:disabled):not(.disabled):active:focus, .show>.createTags.dropdown-toggle:focus{
    background: transparent;
    border:2px solid #e00;
    box-shadow: 0 0 0.2rem #cd0000;
    color:#cd0000;
}

.validateTags:not(:disabled):not(.disabled).active:focus, .validateTags:not(:disabled):not(.disabled):active:focus, .show>.validateTags.dropdown-toggle:focus{
    background: transparent;
    border:2px solid #e00;
    box-shadow: 0 0 0.2rem #cd0000;
    color:#cd0000;
}

.form-check-inline{
    border:3px solid #f4f5f6;
    background-color:#f4f5f6;
    width:100%;
    margin-bottom:8px;
}

.form-check-label{
    font-size:18px;
}

.radiobutton-icon__box-border{
    stroke:#dadada;
}

.radiobutton-icon__box{
    position: absolute;
}

.radiobutton-icon__check{
    position: absolute;
}

.labelText{
    padding-left:32px;
}

.hidden{
    display: none;
}

.input-styles{
    border:2px solid #dadada;
    border-radius: 0;
    box-sizing: border-box;
    color: #323232;
    font-size: 18px;
    height: 48px;
    line-height: 25.5px;
    padding:10.5px 35px 12px 14px;
    width:100%;
    cursor: pointer;
}

.form-control:disabled, .form-control[readonly]{
    background-color: #ffffff;
}

.qfa1-arrow-icon__dropdown path{
    fill:#323232;
}

svg[type=button]{
    -webkit-appearance: none;
}

.up-arrow,.down-arrow{ 
    position: relative;
    left: -30px;
    top: 10px;
    width: 0;
}

.qfa1-dropdown-list__list{
    border-bottom: 2px solid #dadada;
    border-left: 2px solid #dadada;
    border-right: 2px solid #dadada;
    cursor: pointer;
    list-style-type: none;
    margin-top:0;
    max-height:242px;
    overflow-y: auto;
    padding-left: 0;
    top: 0;
    width:100%;
}

.qfa1-dropdown-list__list-item:hover{
    border-left:3px solid #90e2df;
    background-color: #fff;
    outline: none;
}

.qfa1-dropdown-list__list-item{
    border-top:1px solid #dadada;
    background-color: #f4f5f6;
    border-left: 3px solid transparent;
    font-size: 18px;
    line-height: 25.5px;
    min-height:47px;
    padding:10.5px 21px 10.5px 18px;
    position: relative;
    vertical-align: middle;
}


.input-styles-noclick{
    border:2px solid #dadada;
    border-radius: 0;
    box-sizing: border-box;
    color: #323232;
    font-size: 18px;
    height: 48px;
    line-height: 25.5px;
    padding:10.5px 35px 12px 14px;
    width:100%;
}

.form-check-input{
    margin-top:0.45rem;
}

.link-font,.link-font:hover{
    color: red;
    font-size: 20px;
    float: left;
    margin-top: 10px;
}

.float-right{
    float:right;
}

.submit-button{
    height:48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    width:50%;
    border-radius: 4px;
    padding-top:11px;
    padding-bottom:1px;
    padding-left:6px;
    padding-right: 6px;
}

.row{
    margin-left:0px;
    margin-right: 0px;
    margin-bottom: 1rem;
    position: relative;
}

.realignButton{
    margin-top:-40px;
}

a.anchor-display,a.anchor-display:hover{
    color: red;
    font-size: 18px;
}

.reinitButton{
    padding:.625rem 0.5rem;
    width:100%;
    overflow: hidden;
}

.specialInput{
    margin-bottom:20px;
    margin-top:10px;
}

.invalid-feedback{
    font-size: 18px;
}

.values {
    background-color: #f4f5f6;
    padding: 20px;
    width: 100% !important;
}

.addButton{
    background-color: #e00;
    fill:#fff;
    border-radius: 100%;
    vertical-align: middle;
}

.addButton path{
    fill:#fff;
}

.text-margin {
    position: relative;
    top: 2px;
    left: 7px;
}

.fa-minus-circle{
    font-size: 28px;
}

.text-margin-top {
    position: relative;
    top: -3px;
    left: 7px;
}

.tablet-style{
    margin-left:100px;
}

/*Tablet */
@media (min-width: 48em){
    .btn-second{
        margin-bottom: 1rem;
    }
    header{
        height:6rem;
    }
    .qantas-logo{
        position: relative;
        float: left;
        top: 2rem;
        width: 12.875rem;
        margin-bottom: 1rem;
        height:2.5rem;
        display: block;
        overflow: hidden;
        left:0rem;
    }
}
/*Desktop */
@media (min-width: 60em){
    .tablet-style{
        margin-left:77px;
    }
}

@media (min-width: 576px){
    .realignButton{
        margin-top:0px;
    }
    .submit-button{
        width:180%;
    }
    .tablet-style{
        width:76%;
        margin-left:11px;
    }
}

@media (min-width: 992px){
    .tablet-style{
        width:76%;
        margin-left:32px;
    }
}

@media (min-width: 1600px){
    .tablet-style{
        width:76%;
        margin-left:77px;
    }
}



