@font-face{font-family:'Ciutadella';src:url("../fonts/315CA1_3_0.eot?#iefix") format("embedded-opentype"),url("../fonts/315CA1_3_0.woff2") format("woff2"),url("../fonts/315CA1_3_0.woff") format("woff"),url("../fonts/315CA1_3_0.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:'Ciutadella';src:url("../fonts/315CA1_1_0.eot?#iefix") format("embedded-opentype"),url("../fonts/315CA1_1_0.woff2") format("woff2"),url("../fonts/315CA1_1_0.woff") format("woff"),url("../fonts/315CA1_1_0.ttf") format("truetype");font-weight:bold;font-style:normal}
body{
    font-family:"Ciutadella",Helvetica,Arial,sans-serif;
}
.hidden{
    display: none;
}
.fa-plus-square{
    color:green
}
.customAnchor{
    margin-top: 10px;
}
.fa-minus-square{
    color: red;
    padding:3px;
}
.finalTags{
    color:brown;
}

.btn-primary{
    background-color: #e0001b;
    border:0;
    box-shadow: 0 0 0.2rem #e0001b;
}

.btn-primary:hover,.btn-primary:visited,.btn-primary:focus{
    background-color: #e00;
    border:0;
    box-shadow: 0 0 0.2rem rgba(255,0,0,.5);
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #e00;
    border:0;
    box-shadow: 0 0 0.2rem rgba(255,0,0,.5);
}
.img-thumbnail{
    padding:0rem;
    background-color: #fff;
    border:0px solid #ddd;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    max-width: 100%;
    height: auto;
    top: 1rem;
    width: 12.875rem;
    height: 2.5rem;
    display: block;
    margin-left:160px;
}

.logo-oneworld{
    background-image: url(http://www.qantas.com/etc/designs/qantas/global/img/spritesheet-44c17a2a871b686092b066021387c451.png);
    background-position: 0 -109px;
    width: 32px;
    height: 32px;
    position: relative;
    float: left;
    left: 3rem;
    display: block;
    top: 1.5rem;
    text-indent: 150%;
    overflow: hidden;
    margin-left:-34px;
    margin-top:-18px;
}

.headerRow{
    padding:15px;
}

.header{
    border-bottom:1px solid #e5e5e5;
}

.headerRow{
    margin-left: 291px;
    margin-right:291px;
    width:1140px;
    padding-left:15px;
    padding-right:15px;
}

.container{
    margin-left: 291px;
    margin-right:291px;
}

.customcontainer{
    margin-left:160px;
}

h1,h2{
    margin-top:0.67em;
    margin-bottom:0.67em;
    font-family:"Ciutadella","Arial Narrow",sans-serif;
}

.createTags,.validateTags{
    background: transparent;
    color:#e0001b;
    -webkit-font-smoothing:antialiased;
    border:2px solid #e00;
    box-shadow: 0 0 0.2rem #fff;
    font-weight:bold;
    font-size: 1rem;
    letter-spacing: .125rem;
    border-radius: .1875rem;
    line-height: 1.5rem;
    text-align: center;
    padding:.625rem 1.5rem;
}
.createTags:hover,.validateTags:hover,.createTags:visited,.createTags:focus,
.validateTags:hover,.validateTags:visited,.validateTags:focus{
    color:#cd0000;
    border:2px solid #cd0000;
    background: transparent;
}

.createTags:not([disabled]):not(.disabled).active, .createTags:not([disabled]):not(.disabled):active, .show>.createTags.dropdown-toggle{
    background: transparent;
    border:2px solid #e00;
    box-shadow: 0 0 0.2rem #cd0000;
    color:#cd0000;
}

.validateTags:not([disabled]):not(.disabled).active, .validateTags:not([disabled]):not(.disabled):active, .show>.validateTags.dropdown-toggle{
    background: transparent;
    border:2px solid #e00;
    box-shadow: 0 0 0.2rem #cd0000;
    color:#cd0000;
}

.validateTags{
    margin-left:10px;
}

.form-check-label{
    font-size:18px;
}

.form-check-input{
    margin-top:0.45rem;
}

.radiobutton-icon__box-border{
    stroke:#dadada;
}

.radiobutton-icon__box{
    position: absolute;
}

.radiobutton-icon__check{
    position: absolute;
}

.radiobutton-icon{
    margin-left:-25px;
}

.labelText{
    padding-left:10px;
}

.form-check-inline{
    margin-right:0.85rem;
}

.input-styles{
    border:2px solid #dadada;
    border-radius: 0;
    box-sizing: border-box;
    color: #323232;
    font-size: 18px;
    height: 48px;
    line-height: 25.5px;
    padding:10.5px 35px 12px 14px;
    width:100%;
    cursor: pointer;
}

.input-styles-noclick{
    border:2px solid #dadada;
    border-radius: 0;
    box-sizing: border-box;
    color: #323232;
    font-size: 18px;
    height: 48px;
    line-height: 25.5px;
    padding:10.5px 35px 12px 14px;
    width:100%;
}

.increased-margin{
    margin-bottom:2.75rem;
}

path{
    fill:#323232;
}

svg[type=button]{
    -webkit-appearance: none;
}

.up-arrow,.down-arrow{
    bottom:37px;
    left:319px;
    position: relative;
    cursor: pointer;
}

.qfa1-dropdown-list__list{
    border-bottom: 2px solid #dadada;
    border-left: 2px solid #dadada;
    border-right: 2px solid #dadada;
    cursor: pointer;
    list-style-type: none;
    margin-top:0;
    max-height:242px;
    overflow-y: auto;
    padding-left: 0;
    top: 0;
    width:100%;
    margin-top:-31px;
}

.qfa1-dropdown-list__list-item:hover{
    border-left:3px solid #90e2df;
    background-color: #fff;
    outline: none;
}

.qfa1-dropdown-list__list-item{
    border-top:1px solid #dadada;
    background-color: #f4f5f6;
    border-left: 3px solid transparent;
    font-size: 18px;
    line-height: 25.5px;
    min-height:47px;
    padding:10.5px 21px 10.5px 18px;
    position: relative;
    vertical-align: middle;
}

.form-control:disabled, .form-control[readonly]{
    background-color: #ffffff;
}

.submit-button{
    height:48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    width:49%;
    border-radius: 4px;
    padding-top:11px;
    padding-bottom:1px;
    padding-left:6px;
    padding-right: 6px;
}

a.anchor-display,a.anchor-display:hover{
    color: red;
    font-size: 18px;
}

.invalid-feedback{
    font-size: 18px;
}

.add-margin{
    margin-bottom: 35px;
}